@charset "UTF-8";
.fil1 {fill:#010103;fill-rule:nonzero}
.fil4 {fill:#44C4DF;fill-rule:nonzero}
.fil0 {fill:#53B847;fill-rule:nonzero}
.fil6 {fill:#D4A011;fill-rule:nonzero}
.fil5 {fill:#EC3945;fill-rule:nonzero}
.fil3 {fill:#FCFCFC;fill-rule:nonzero}
.fil2 {fill:#FDDB96;fill-rule:nonzero}
